/Day10Data.txt
/Day10Test.txt
/Day11Data.txt
/Day11Test.txt
/Day12Data.txt
/Day12Test.txt
/Day12Test2.txt
/Day15Data.txt
/Day15TestBig.txt
/Day15TestSmall.txt
/Day16Data.txt
/Day16Test.txt
/Day16Test2.txt